{
  "presets": ["env", "react"],
  "plugins": [
    "transform-object-rest-spread" ,
    "transform-object-assign",
    "transform-runtime"
  ],
  "env": {
    "karma": {
      "plugins": [
        [
          "istanbul",
          { "exclude": ["tests/**/*.spec.js"] }
        ]
      ]
    }
  }
}
